version: "3.8"

services:
    ecommerce_api:
        image: ecommerce_api
        build:
            context: api
            dockerfile: Dockerfile
        ports: [8080:8080]
        environment:
            - API_PORT=${API_PORT}
            - DB_URL=${DB_URL}
            - ENVIRONMENT=${ENVIRONMENT}
        restart: always