.store-scroll-area {
    max-height: 500px;
    width: 500px;
}

.item {
    max-width: 450px;
    margin: auto;
}

.item-name {
    min-width: 300px;
    text-align: left;
}

.item-price {
    color: green;
    float: right;
}

#store-title {
    text-align: center;
}

#store-component {
    margin: auto;
    width: 50%;
    max-width: 500px;
}

@media only screen and (max-width: 900px) {
    #store-component {
      width: 100%;
    }
    #store-title {
        text-align: left;
    }

  }