.store-scroll-area {
    max-height: 400px;
    max-width: 400px;
    border: 1px black;
}

#store-title {
}

.item {
    max-width: 350px;
    margin: left;
}

.item-name {
    min-width: 250px;
    text-align: left;
}

.item-price {
    color: green;
    float: right;
}

#store-component {
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 1000px) {
    #store-component {
      width: 100%;
      margin: left;
    }
}