
#container {

}

#container > div {
    padding: 25px;
}

#title {

    background-color: lightgreen;
}

#recent {

    background-color: lightseagreen;
}

#login {

    background-color: lightslategray;
}

#cart {

    background-color: lightskyblue;
}

#store {

    background-color: lightgoldenrodyellow;
}

#footer {

    background-color: lightcoral;
}
